<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create account</title>
    <style>
body {background-color: aqua;
}
</style>


</head>
<body>
<h2 Style="color:red;">Create your account</h2>
<br>
<form method="post" action="registration">
    {% csrf_token %}
    <label>username</label>
    <input type="text"name="user_name" placeholder="enter your name"><br>
    <label>name</label>
    <input type="text"name="first_name" placeholder="enter first name">
    <input type="text"name="last_name" placeholder="enter last name"><br>
    <label>email</label>
    <input type="email"name="email" placeholder="enter your email"><br>
    <label>password</label>
    <input type="text"name="pswrd" placeholder="enter password"><br>
    <label>cnfrm_password</label>
    <input type="text"name="pswrd1" placeholder="cnfrm your password"><br>
    <br>
    <input type="submit"><br>
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>